<h1>Student Form</h1>

<%= form_for @student do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br></br>
  <%= f.label :mod %>
  <%= f.number_field :mod %>
  <br></br>
  <%= f.submit %>
<% end %>
